DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASS=pass
DB_NAME=name

PROVIDER_URL=http://provider-simulator:8081
PROVIDER_TIMEOUT_SECONDS=5.0
LOG_LEVEL=DEBUG

POSTGRES_DB=name
POSTGRES_USER=user
POSTGRES_PASSWORD=pass

LOG_JSON=TRUE